.movies__list-item {
    max-width: 270px;
}

.movies__list-poster {
    min-width: 270px;
    max-width: 270px;
    min-height: 151px;
    max-height: 151px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: opacity 0.3s ease-in-out;
}

.movies__list-poster:hover {
    opacity: 0.8;
}

.movie__trailer-link:hover {
    opacity: 0.8;
}
.movies__list-description {
    display: flex;
    justify-content: space-between;
    margin: 14px 0 5px 0;
    min-height: 36px;
}

.movies__list-title {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    margin: 0;
}

.movies__list-like-button {
    background: url('../../images/like__inactive.svg') center no-repeat;
    background-color: #F4F4F4;
    border: 1px solid transparent;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    outline: none;
    padding: 0;
    transition: border-color 0.3s;
}

.movies__list-like-button:hover {
    cursor: pointer;
    border: 1px solid #EE3465;
}

.movies__list-like-button_clicked {
    background: url('../../images/like__active.svg') center no-repeat;
    background-color: #F4F4F4;
}

.movies__list-delete-button {
    background: url('../../images/delete__icon.svg') center no-repeat;
    background-color: #F4F4F4;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    outline: none;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
}

.movies__list-delete-button_visible {
    visibility: visible;
    opacity: 1;
    cursor: pointer;
}

.movies__list-duration {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #A0A0A0;
    margin: 0;
    padding-top: 6px;
    border-top: 1px solid #E8E8E8;
}

@media(max-width: 920px) {
    .movies__list-item {
        max-width: 339px;
    }
    .movies__list-poster {
        min-width: 339px;
        max-width: 339px;
        min-height: 190px;
        max-height: 190px;
    }
}

@media(max-width: 768px) {
    .movies__list-item {
        max-width: 300px;
    }

    .movies__list-poster {
        min-width: 300px;
        max-width: 300px;
        min-height: 168px;
        max-height: 168px;
    }
}

@media(max-width: 425px) {
    .movies__list-poster {
        min-width: 300px;
        max-width: 300px;
        min-height: 168px;
        max-height: 168px;
    }

    .movies__list-title {
        font-size: 12px;
        line-height: 15px;
    }

    .movies__list-duration {
        font-size: 10px;
        line-height: 12px;
    }

    .movies__list-item {
        max-width: 300px;
    }
}